body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-first {
  color: #212121;
}
.logo-second {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/* меню и навигация */
.menu .menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.contacts .contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu .menu-link.current {
  color: #2196f3;
}
.menu .menu-link:hover,
.menu .menu-link:focus,
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #2196f3;
}
.footer {
  background-color: #2f303a;
}
.footer-nav .footer-nav-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-nav .footer-nav-links {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.classes {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.command-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.command-name-text {
  font-size: 16px;
  line-height: 1.19
  letter-spacing: 0.03em;
  color: #757575;
}
.filter-button {
  font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
cursor: pointer;
}

.works-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #2196F3;
  color: #ffffff;
}
.works-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}